@font-face {
  font-family: iconfont; /* Project id 1799220 */
  src: url("iconfont.woff2?t=1625544317030") format("woff2"), url("iconfont.woff?t=1625544317030") format("woff"), url("iconfont.ttf?t=1625544317030") format("truetype");
}

.iconfont {
  font-style: normal;
  font-size: 16px;
  font-family: iconfont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wk-icon-picture::before {
  content: "\e626";
}

.wk-icon-add::before {
  content: "\e6a1";
}

.wk-icon-delete::before {
  content: "\e690";
}

.wk-icon-reduce::before {
  content: "\e702";
}

.wk-icon-font-family::before {
  content: "\e601";
}

.wk-icon-text-align::before {
  content: "\e656";
}

.wk-icon-text-right::before {
  content: "\e65b";
}

.wk-icon-text-left::before {
  content: "\e664";
}

.wk-icon-font-weight::before {
  content: "\e620";
}

.wk-icon-double-quotes::before {
  content: "\e642";
}

.wk-icon-download::before {
  content: "\e60b";
}

.wk-icon-video::before {
  content: "\e647";
}

.wk-icon-title::before {
  content: "\e6e2";
}

.wk-icon-strack::before {
  content: "\e745";
}

.wk-icon-underscore::before {
  content: "\e621";
}

.wk-icon-color::before {
  content: "\e704";
}

.wk-icon-background::before {
  content: "\e603";
}

.wk-icon-link::before {
  content: "\e653";
}

.wk-icon-underline::before {
  content: "\e657";
}

.wk-icon-table::before {
  content: "\e622";
}

.wk-icon-withdraw::before {
  content: "\e69b";
}

.wk-icon-reduction::before {
  content: "\e69c";
}

.wk-icon-ordered-list::before {
  content: "\e623";
}

.wk-icon-unordered-list::before {
  content: "\e625";
}

.wk-icon-image::before {
  content: "\e62a";
}

.wk-icon-italic::before {
  content: "\eaef";
}

.wk-icon-font-size::before {
  content: "\eaf0";
}

.wk-icon-upload::before {
  content: "\e791";
}

.wk-icon-back::before {
  content: "\e60a";
}

.wk-icon-time::before {
  content: "\e662";
}

.wk-icon-weixin::before {
  content: "\e636";
}

.wk-icon-weibo::before {
  content: "\e63d";
}

.wk-icon-alipay::before {
  content: "\e717";
}

.wk-icon-twitter::before {
  content: "\e655";
}

.wk-icon-facebook::before {
  content: "\e61f";
}

.wk-icon-qq::before {
  content: "\e604";
}

.wk-icon-youtube::before {
  content: "\e641";
}

.wk-icon-linkedin::before {
  content: "\e685";
}

.wk-icon-boy-flag::before {
  content: "\e661";
}

.wk-icon-sad::before {
  content: "\e634";
}

.wk-icon-boy::before {
  content: "\e65a";
}

.wk-icon-girl::before {
  content: "\e660";
}

.wk-icon-girl-flag::before {
  content: "\e61a";
}

.wk-icon-smile::before {
  content: "\e6ca";
}

.wk-icon-money::before {
  content: "\e6c6";
}

.wk-icon-narrow::before {
  content: "\e6e3";
}

.wk-icon-rotate::before {
  content: "\e65f";
}

.wk-icon-enlarge::before {
  content: "\e624";
}

.wk-icon-open-eyes::before {
  content: "\e60d";
}

.wk-icon-chrysanthemum::before {
  content: "\e6a0";
}

.wk-icon-group::before {
  content: "\e61e";
}

.wk-icon-full-screen::before {
  content: "\e600";
}

.wk-icon-exit-full-screen::before {
  content: "\e671";
}

.wk-icon-loading-line-round::before {
  content: "\e6cd";
}

.wk-icon-switch::before {
  content: "\e62d";
}

.wk-icon-loading-solid-round::before {
  content: "\e85f";
}

.wk-icon-game::before {
  content: "\e7c6";
}

.wk-icon-talent::before {
  content: "\e619";
}

.wk-icon-flag::before {
  content: "\e73c";
}

.wk-icon-editor::before {
  content: "\e7a1";
}

.wk-icon-close-eyes::before {
  content: "\e65d";
}

.wk-icon-dark::before {
  content: "\e666";
}

.wk-icon-daytime::before {
  content: "\e65e";
}

.wk-icon-email::before {
  content: "\e63e";
}

.wk-icon-dynamic-sharing::before {
  content: "\e633";
}

.wk-icon-lick::before {
  content: "\eca1";
}

.wk-icon-car::before {
  content: "\e651";
}

.wk-icon-phone::before {
  content: "\e6c7";
}

.wk-icon-motorcycle::before {
  content: "\e628";
}

.wk-icon-cola::before {
  content: "\e64b";
}

.wk-icon-batterycar::before {
  content: "\e616";
}

.wk-icon-computer::before {
  content: "\e61b";
}

.wk-icon-plane::before {
  content: "\e610";
}

.wk-icon-compass::before {
  content: "\e627";
}

.wk-icon-french-fries::before {
  content: "\e609";
}

.wk-icon-ice-cream::before {
  content: "\e70a";
}

.wk-icon-hamburger::before {
  content: "\e629";
}

.wk-icon-map::before {
  content: "\e68b";
}

.wk-icon-camera::before {
  content: "\e617";
}

.wk-icon-truck::before {
  content: "\e90a";
}

.wk-icon-school-car::before {
  content: "\e618";
}

.wk-icon-ship::before {
  content: "\e70c";
}

.wk-icon-bicycle::before {
  content: "\e827";
}

.wk-icon-person::before {
  content: "\e64e";
}

.wk-icon-maillist::before {
  content: "\e631";
}

.wk-icon-home::before {
  content: "\e640";
}

.wk-icon-setting::before {
  content: "\e654";
}

.wk-icon-user::before {
  content: "\e727";
}

.wk-icon-password::before {
  content: "\eb7e";
}

.wk-icon-date::before {
  content: "\e785";
}

.wk-icon-eyes::before {
  content: "\e681";
}

.wk-icon-ellipsis::before {
  content: "\e708";
}

.wk-icon-dbarrow-right::before {
  content: "\e6c4";
}

.wk-icon-dbarrow-left::before {
  content: "\e6c5";
}

.wk-icon-arrow-left::before {
  content: "\e635";
}

.wk-icon-arrow-right::before {
  content: "\e63f";
}

.wk-icon-check::before {
  content: "\e612";
}

.wk-icon-close::before {
  content: "\e65c";
}

.wk-icon-fail {
  color: #fe6d68;
}

.wk-icon-fail::before {
  content: "\e61d";
}

.wk-icon-sigh::before {
  content: "\e62b";
}

.wk-icon-uploadcloud::before {
  content: "\e663";
}

.wk-icon-share::before {
  content: "\e69f";
}

.wk-icon-search::before {
  content: "\e614";
}

.wk-icon-dustbin::before {
  content: "\e611";
}

.wk-icon-collection::before {
  content: "\e66e";
}

.wk-icon-envelope::before {
  content: "\e857";
}

.wk-icon-hock::before {
  content: "\e613";
}

.wk-icon-write::before {
  content: "\e615";
}

.wk-icon-success::before {
  content: "\e61c";
}
