code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,body, div,h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { 
  margin:0; 
  padding:0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", "MIcrosoft YaHei", sans-serif !important;
}

#root {
  width: 100%;
  height: 100%;
}

a, a:focus, a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

 /* 滚动条的宽度 */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  padding-right: 2px;
  background: #f2f2f2;
}

/* 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果 */
::-webkit-scrollbar-track {
  width: 3px;
  background-color: #eee;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

/* 滚动条的设置 */
::-webkit-scrollbar-thumb {
  background: rgba(180, 187, 197, 0.3);
  border: 0;
  border-radius: 10px;
}

/* 滚动条移上去的背景 */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

div {
  box-sizing: border-box;
}